characteristics of tuples include:

1.Tuples are indexed, which means that each element can be accessed by its position or index within the tuple.
2.Tuples can be sliced, which means that a subset of the elements in the tuple can be selected by specifying a range of indices.
3.Tuples can be nested, which means that a tuple can contain other tuples as elements.
4.Tuples can be used as keys in dictionaries, whereas lists cannot.
        tuple is immutable

2 tuple methods are count() & index()

In [1]:
my_tuple = (1, 2, 3, 4, 4, 5, 4)
print(my_tuple.count(4))

3

In [3]:
my_tuple = (1, 2, 3, 4, 4, 5, 4)
print(my_tuple.index(5))

5

Dictionary do not allows duplicate items

In [19]:
List_1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [21]:
set(List_1)

{1, 2, 3, 4}

union & update are used to combine 2 sets where union creates new set without modifying the original sets while update modifies the original set

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.union(set2)

print(set1)
print(set2) 
print(set3)

{1, 2, 3}
{3, 4, 5}
{1, 2, 3, 4, 5}

In [23]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)

print(set1) 
print(set2)

{1, 2, 3, 4, 5}
{3, 4, 5}

Dictionary is data collection where a Value is saved against key & dictionary are unordered

In [25]:
fruits = {"apple": "red", "banana": "yellow", "orange": "orange", "kiwi": "green"}
print(fruits['apple'])

red

yes we can create nested dictionary

In [29]:
# Creating a nested dictionary
my_dict = {"person1":{"name": "John","age": 30,"city": "New York"},"person2":{"name": "Rose","age": 32,"city": "London"}
}
print(my_dict["person1"]["name"])
print(my_dict["person2"]["age"])

John
32

In [33]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'])

['Python', 'Machine Learning', 'Deep Learning']

In [34]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [35]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [36]:
dict1.keys()

AttributeError: 'dict' object has no attribute 'key'